name: Automatisation des tests

on: push

jobs:

  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Compilation
        run: |
          mkdir build
          cd build
          cmake ..
          make


  Test_Add:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Test ADD
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./calculator add 10 5


  Test_Sub:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Test SUB
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./calculator sub 10 5


  Test_Mul:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Test MUL
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./calculator mul 4 5


  Test_Div:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Test DIV
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./calculator div 20 5


  Test_Car:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Test CAR
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./calculator car 5
